<section class="main">
    <div class="container">
        <h1 class="headerText" *ngIf="selectedLang == 'en'">
            {{ blogsData.title }}
        </h1>
        <h1 class="headerText" *ngIf="selectedLang == 'ar'">
            {{ blogsData.titleAr }}
        </h1>
        <div class="row">
            <div class="col-md-6 mb-3">
                <p class="detailsText" *ngIf="selectedLang == 'en'">
                    {{ blogsData.text }}
                </p>
                <p class="detailsText" *ngIf="selectedLang == 'ar'">
                    {{ blogsData.textAr }}
                </p>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="image-box">
                        <img [src]="'../../../assets/images/'+blogsData.imagePath" [alt]="blogsData.title" width="100%">
                        <!-- <img src="../../../assets/images/image-1.jpeg" class="personImg" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>