<section class="main">
    <div class="container">
        <h1 class="headerText">
            {{ blogsData.title }}
        </h1>
        <div class="row">
            <div class="col-md-6">
                <p class="detailsText">
                    {{ blogsData.text }}
                </p>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="image-box">
                        <img [src]="blogsData.imagePath" class="personImg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>