<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="../../../assets//images/logo-background.png" width="100%" height="100%" style="border-radius: 20px;" alt="">
        </div>
    </div>
</div>
<footer class="py-5 mt-5 border-top">
    <div class="container-fluid bg-white">
      <div class="row text-center text-center text-md-start">
        <div class="col-12 col-md-4 mb-5 mb-md-0">
     
        </div>
        <div class="col-12 col-md-4 mb-5 mb-md-0">
          <h2 class="font-weight-bold"> {{ "COURSE_RIGISTER.RESERVE_SEAT_NOW" | translate}}</h2>
          <p class="font-weight-bold"> {{ "COURSE_RIGISTER.NEW_COURSE_WILL_START" | translate}}  🧡</p>
            <button class="btn btn-primary " style="width: 80%;">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSd75Tk5vP5bda8l5HlwXdnvT6fSVS9JmhUWtXmJhnbpBmCZVg/viewform" target="_blank">
                   <span class="text-light font-weight-bold fs-5">{{ "COURSE_RIGISTER.REGISTER_NOW" | translate}} </span>
                </a>
            </button>
        </div>
        <div class="col-12 col-md-4 mb-5 mb-md-0">
    
        </div>
      </div>
    </div>
  </footer>
  