<nav class="navbar navbar-expand-lg navbar-light ">
            <span class="nav-item"href="#">
                <img src="../../../assets//images/logo-removebg-preview.png" class="logo" width="20%" alt="">
            </span>
                <li class="nav-item">
                    <a class="nav-link active" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">What Is TRP </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Work Item</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Target groups</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Courses Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Submitting Job </a>
                  </li>
           
</nav>

