<nav class="navbar navbar-expand-lg navbar-light upper-nav sticky-top">
  <div class="contact">
    <li class="fa fa-envelope"> <a href="mailto:info@tpr.foundation" class="text-decoration-none"><span style="padding-left: 5px">{{contactInfo?.email}}</span>  </a></li>
    <li class="fa fa-phone"><a href="tel:+96297026511" class="text-decoration-none"> <span style="padding-left: 5px">  {{contactInfo?.phoneNumber1}}</span></a> </li>
  </div>
  <div class="media">
    <a                
    [href]="contactInfo?.facebookUrl"
    target="_blank">
      <li class="fa fa-facebook"></li>
    </a>
    <a  [href]="contactInfo?.instagramUrl" target="_blank">
      <li class="fa fa-instagram"></li>

    </a>
    <a [href]="contactInfo?.youtubeUrl" target="_blank">
      <li class="fa fa-youtube"></li>

    </a>
   
 
  </div>
</nav>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light main-nav sticky-top">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="displayNav = !displayNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse test" id="navbarNavDropdown" [style.display]="displayNav ? 'block' : 'none'">
      <span class="logo">
        <img src="../../../assets//images/logo-removebg-preview.png" (click)="homeRedierction()"  alt="">
      </span>
      <ul class="navbar-nav">
        <li class="nav-item" (click)="sctionRedirectHandler(AboutUs)">
          <a class="nav-link active" >{{ "NAVBAR.ABOUT_US" | translate }}</a>
        </li>
        <li class="nav-item" (click)="sctionRedirectHandler(WhatIsTrp)">
          <a class="nav-link" > {{ "NAVBAR.WHAT_IS_TPR" | translate }}</a>
        </li>
        <li class="nav-item d-none d-sm-block" (click)="sctionRedirectHandler(WorkTeam)">
          <a class="nav-link" >{{ "NAVBAR.WORK_TEAM" | translate }}</a>
        </li>
        <li class="nav-item d-block d-sm-none" (click)="sctionRedirectHandler(WorkTeam)">
          <a class="nav-link" >{{ "NAVBAR.WORK_TEAM" | translate }}</a>
        </li>
        <li class="nav-item" (click)="sctionRedirectHandler(TargetGroups)">
          <a class="nav-link" >{{ "NAVBAR.TARGET_GROUPS" | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="sctionRedirectHandler(OurPartners)" >{{ "NAVBAR.PARTNERS" | translate }} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/courses-register']" (click)="displayNav = false">{{ "NAVBAR.COURSE_REGISTER" | translate }} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/submitting-job']" (click)="displayNav = false">{{ "NAVBAR.SUBMITTING_JOB" | translate }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            {{ "NAVBAR.SERVICES" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let service of services">
              <a class="dropdown-item" (click)="serviceRedierct(service.id)">{{service.name}}</a>
            </li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" (click)="sctionRedirectHandler(LatestNews)">{{ "NAVBAR.LATEST_NEWS" | translate }}</a></li>
            <li><a class="dropdown-item" (click)="sctionRedirectHandler(Languages)">{{ "NAVBAR.LANGUAGES" | translate }}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/courses-address']"  (click)="displayNav = false">
            {{"NAVBAR.COURSES_ADDRESS" | translate }} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://tpr-system.tpr.foundation/site/login" target="_blank">{{ "NAVBAR.LOGIN" |
            translate }} </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            <i class="fa fa-language"></i>
          </a>
          <ul class="dropdown-menu lang-menu">
            <li><a class="dropdown-item" (click)="onChangeLanguage('en')">English</a></li>
            <li><a class="dropdown-item" (click)="onChangeLanguage('ar')">العربية</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>