nav {
    background-color: orange;
    position: relative;
    height: 75px;
}

nav .logo {
    animation: logo both alternate 5s;
    animation-delay: 1s;
    background-color: white;
    border-radius: 50%;
}

nav li {

    list-style: none;
    color: white;
    padding: 10px;
    margin-left: 10px;
    width: 180px;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 10px;

    transition: .1s ease-in;

    &:hover {
    cursor: pointer;
    color :orange;
    border: 1px solid white;
    background-color: white;
    };
    
}

.nav-item {
    animation:  nav-items both alternate 1s;
    animation-delay: 2s;
}



@keyframes nav-items {
    from 
    {
        opacity: 0;
    }
    to 
    {
        opacity: 1;

    }
    
}

@keyframes logo {

    0%
    {
        
        transform: rotate(0deg)  translateX(-60);
    }
    50%
    {
        transform:  rotate(360deg) translateX(10px);


    }
    75% 
    {
        transform: scale(1.1);
    }
    100%
    {
            transform: scale(1);
    
    }

    
}