
.main-box {
    background-color: #ffefd3e8 !important;
}
.en-language {
    font-family: 'Montserrat', sans-serif;

}

.ar-language {
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.register-en {
    z-index: 9999;
    position: sticky;
    padding: 8px 20px;
    width: 25vw;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    border-radius: 20px;
}

.register-ar  {
    transform: translateX(-149%);
    z-index: 9999;
    position: sticky;
    padding: 8px 20px;
    width: 25vw;
    left: 50%;
    /* transform: translateX(-50%); */
    top: 0;
    border-radius: 20px;

}

.copyright-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f77f0020;
    color: #555555;
}

.copyright-section .copyright-text {
    font-size: 16px;
}

.copyright-section .dev-team {
    margin-top: 10px;
    font-size: 15px;
}

.copyright-section span a {
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 15px;
    color: #888888;
    font-style: italic;
}

.copyright-section span .fa-heart {
    margin: 0 2px;
    transition: .3s ease-in;
}

.copyright-section span:hover .fa-heart {
    transform: scale(1.3);
}


@media screen and (max-width: 767px) {
    .main-box {
        background-color: #ffefd3e8 !important;
        overflow: hidden;
    }

    .register {
        width: calc(100% - 100px);
        left: 50px;
        right: auto;
        top: 0;
        transform: none;
    }

    .register-ar {
        left: auto;
        right: 50px
    }

    .register a {
        font-size: 15px;
    }

}




@media screen and (max-width: 991px) {


    .stickyBtnScrolling {
        z-index: 9999;
        position: fixed;
        padding: 8px 20px;
        width: calc(100% - 100px);
        left: 50px;
        right: auto;
        top: 0;
        transform: none;
    }
}