
<div [ngClass]="selectedlanguage == 'en' ? 'en-language ' : 'ar-language'" class="main-box">
  <app-navbar></app-navbar>
  <button
  class="btn btn-primary border border-3 border-light mb-2 mt-4 font-weight-bold  register"
  [ngClass]="selectedlanguage == 'en' ? 'register-en' : 'register-ar'"
>
  <a
    [routerLink]="['/courses-register']"
    class="text-decoration-none text-light"
  >
    {{ "NAVBAR.COURSE_REGISTER_NOW" | translate }}
  </a>
</button>
  <!-- <app-master></app-master> -->
<router-outlet></router-outlet>
<div class="copyright-section">
  <span class="fa fa-copyright copyright-text">&nbsp;2024 <strong>TPR</strong> {{"FOOTER.ALL_RIGHTS_RESERVED" | translate}}</span>
  <span class="dev-team">{{"FOOTER.MADE_WITH" | translate}} <i class="fa fa-heart"></i>{{"FOOTER.BY_THE" | translate}} <a href="mailto:ayham.zataimeh99@gmail.com" class="text-decoration-underline">{{"FOOTER.DEVELOPMENT_TEAM" | translate}}</a></span>
</div>

</div>


<!-- (selectedSection)="sctionRedirectHandler($event)" -->
