
.main-box {
    /* background-color: #ffefd3e8 !important; */
}
.en-language {
    font-family: 'Montserrat', sans-serif;

}

.ar-language {
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@media screen and (max-width: 767px) {
    .main-box {
        background-color: #ffefd3e8 !important;
        overflow: hidden;
    }
}