<app-navbar (selectedSection)="sctionRedirectHandler($event)"></app-navbar>

<div class="landing-page">
    <div class="intro">
        <div class="landing-page-logo">
            <img src="../../../assets//images/logo-removebg-preview.png" class="landing-page-logo-image">
        </div>
        <h2 class="landing-page-text"> {{ "MASTER.WE_DO_IT_BECAUSE_WE_LOVE_IT" | translate}}</h2>
    </div>
    <div class="overlay"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="vision-mission" id="vision">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 about-us-main section-mob-v" id="aboutUs">
        <div class="header">
            <h1>{{ "MASTER.ABOUT_US" | translate}}</h1>
        </div>
        <div class="about-us" id="aboutUsParent">
            <div id="aboutUsText">
                <h5>
                    We are a team of teachers in Jordan with a vision: “Conversation is the gateway to the English
                    language,” and we teach conversation in the fun, natural way without using paper, pen, or
                    blackboard, with a combined experience of the curriculum writing staff and teachers amounting to
                    approximately 25 years </h5>
            </div>
            <div id="trpAboutUsImage">
                <img src="../../../assets//images/About-us.jpeg" class="section-images">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 what-is-trp-main section-mob-v" id="whatIsTrp">
        <div class="header">
            <h1>{{ "MASTER.WHAT_IS_TPR" | translate}}</h1>
        </div>
        <div class="what-is-trp" id="whatIsTrpParent">
            <div id="trpText">
                <h5>
                    It is a system that was invented in 1970 to teach language by combining body language, play, and
                    simulation, so that the student can practice and learn the language in a natural way through
                    conversation and without returning to the rules, fluently and without hesitation.
                </h5>
            </div>
            <div id="whatIsTrpImage">
                <img src="../../../assets//images/what-is-trp.jpeg" class="section-images">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 target-groups-main section-mob-v" id="targetgroups">
        <div class="header">
            <h1>{{ "MASTER.TARGET_GROUPS" | translate}}</h1>
        </div>
        <div class="target-groups" id="targetGroupsParent">
            <div id="target-groups-text">
                <h5>
                    <span style="font-weight: bold;">(A) Category :</span> This category includes children from the age
                    of 4 to 7 years, and the child masters 50 to 100 sentences at a rate of 75 sentences per level.
                    <br>
                    <br>
                    <span style="font-weight: bold;">(B) Category :</span> This category includes children from 8 to 13
                    years old, and the child masters 100 to 200 sentences at a rate of 150 sentences per level
                </h5>
            </div>
            <div id="targetgroupsImage">
                <img src="../../../assets//images/target-groups.jpeg" class="section-images">
            </div>
        </div>
    </div>
    <div>
    </div>

    <!-- Start Web View Carousel -->
    <div class="team-slider d-none d-sm-block section-mob-v" id="workTeam" >
        <div class="silder-header">
            <h1>{{ "MASTER.WORK_TEAM" | translate}}</h1>
        </div>
        <div class="slider-section" >
            <div class="slider-card" id="sliderCard" *ngFor="let workTeam of workTeamList" >
                <div class="slider-inner mt-3">
                    <div class="avatar-box">
                        <img class="avatar-image" [src]="workTeam.image" [alt]="workTeam.name">
                    </div>
                    <h3 class="workTeam-name">{{ workTeam.name }}</h3>
                    <div class="work-team-section-line"></div>
                    <h4 class="workTeam-position">{{ workTeam.position }}</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Clients sections -->

    <div class="team-slider d-none d-sm-block section-mob-v" id="workTeam" [style]="sliderStyles"  >
        <div class="silder-header">
            <h1>{{ "MASTER.PARTNERS" | translate}}</h1>
        </div>
        <div class="clinet-slider-section"  >
            <div class="clients-slider-card"   *ngFor="let client of clientsList">
                <div class="slider-inner mt-3">
                    <div class="avatar-box">
                        <img class="avatar-image" [src]="client.image" alt="Client">
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
    <!-- End Web View Carousel -->

    <!-- Start Mobile View Carousel -->
    <div class="carousel-container d-block d-sm-none section-mob-v" id="MobileViewWorkTeam">
        <div class="silder-header">
            <h1>{{ "MASTER.WORK_TEAM" | translate}}</h1>
        </div>
        <div id="carouselCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of workTeamList; let index = index; let isFirst = first"
                    [ngClass]="{active:isFirst}">
                    <div class="carousel-caption">
                        <div class="avatar-box mob-v">
                            <img class="avatar-image" [src]="item.image" [alt]="item.name">
                        </div>
                        <h2 class="worker-name mob-v">{{ item.name | translate }}</h2>
                        <div class="work-team-section-line"></div>
                        <h3 class="worker-position mob-v">{{ item.position | translate }}</h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
                <span style="font-weight: bold;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- End Mobile View Carousel -->
</div>

