.landing-page-image {

    animation: laning-page-image 2s both
}

@keyframes laning-page-image {

    from
    {
        transform: scale(0);
    }
    to 
    {
        transform: scale(1);

    }
    
}

.landing-page-text{
    position: absolute;
    left: 36%;
    top: 23%;
    FONT-SIZE: 47px;

    z-index: 1;
    color: white;
    animation: langing-page-text 2s both;
    animation-delay: 2s;
    text-transform: capitalize
}

.landing-page-logo {
    width: 11%;
    position: absolute;
    top: 48%;
    border-radius: 50%;
    background: white;
    animation: landing-page-logo 2s both;
    animation-delay: 2s;
    z-index: 1;
}

.black {
    position: absolute;
    width: 100%;
    /* height: 606px; */
    height: 759px;

    background: black;
    top: 0%;
    opacity: 0.5;
    /* left: 10%; */
    animation: black 2s both
}

@keyframes black {
    from
    {
        transform: scale(0);
    }
    to 
    {
        transform: scale(1);

    }
}
@keyframes langing-page-text {

    from
    {
        opacity: 0;
        left: 20%;

    }
    to
    {
        opacity: 1;
        left: 27%;

    }
    
}

.vision-mission-show-animation {
    /* background-color: red; */
    animation: vision-mission-show  1s both;

}

.vision-mission-hide-animation {
    /* background-color: red; */
    animation: vision-mission-hide  1s both;

}
.vision-mission {
    /* text-align: center; */
    margin-top: 10px;

}

.what-is-trp{
    display: flex;
 
    justify-content: space-between;

}
.what-is-trp-main,
.about-us-main,
.target-groups-main {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    width: 97%;
    margin: 20px;
}
.about-us-text {
    color: orange;
    width: 92%;
    text-align: justify;
    padding: 30px;
    animation: trp-text  2s both;
    animation-delay: 2s;
    }


.target-groups-text {
    color: orange;
    width: 120%;
    text-align: justify;
    padding: 30px;
    animation: trp-text  2s both;
    animation-delay: 2s;

    }
.what-is-trp-main .header,
.about-us-main  .header,
.target-groups-main .header  {
    color: orange;
    text-align: center;
}

.trp-text {
    color: orange;
    width: 50%;
    text-align: justify;
    padding: 30px;
    animation: trp-text  2s both;
    animation-delay: 2s;


}

.trp-image img {
    padding: 10px;
    animation: trp-image  2s both;
}

.trp-image-target-group img {
    padding: 10px;
    animation: trp-image  2s both;
}
@keyframes trp-text {
    from {

        opacity: 0;
    }
    to {

        opacity: 1;
    }

}

@keyframes trp-image {

    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(100px);
        opacity: 1;
    }
    
}
@keyframes vision-mission-show  {

    from 
    {
        transform: translateX(0%);
    }
    to
    {
        transform: translateX(25%);


    }
    
}

@keyframes vision-mission-hide  {

    from 
    {
        transform: translateX(25%);

    }
    to
    {
        transform: translateX(0%);


    }
    
}
@keyframes landing-page-logo  {

    from 
    {
        opacity: 0;
        left: 53%;

    }
    to 
    {
        opacity: 1;
        left: 44%;


    }
    
}