.landing-page {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    background: url(../../../assets/images/landing-page.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    animation: landing-page-animation 2s both;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.landing-page-image {

    animation: laning-page-image 2s both
}

@keyframes laning-page-image {

    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);

    }
}

.landing-page-logo {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    border-radius: 50%;
    background: white;
    animation: landing-page-logo 1.3s both;
    animation-delay: 2s;
    z-index: 4;
}

.landing-page-text {
    margin-top: 30px;
    font-size: 47px;
    padding: 0 10px;
    z-index: 1;
    color: white;
    animation: langing-page-text 2s both;
    animation-delay: 2s;
    text-transform: capitalize;
    z-index: 4;
}

.landing-page-logo-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0%;
    z-index: 1;
}

@keyframes landing-page-animation {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);

    }
}

@keyframes langing-page-text {

    from {
        opacity: 0;
        transform: translateX(-25%);

    }

    to {
        opacity: 1;
        transform: translateX(0%);

    }

}

.vision-mission-show-animation {
    /* background-color: red; */
    animation: vision-mission-show 1.5s .5s both;

}

.vision-mission-hide-animation {
    /* background-color: red; */
    animation: vision-mission-hide 1s both;

}

.vision-mission {
    background: url(../../../assets//images/Vision&mission.jpeg) no-repeat center center;
    background-size: contain;
    width: 70%;
    height: 480px;
    margin-top: 10px;
    opacity: 0;
}

.what-is-trp {
    display: flex;
    justify-content: space-between;
    visibility: hidden;


}


.what-is-trp-show {
    display: flex;
    justify-content: space-between;
    visibility: visible;



}

.about-us {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}



.about-us-show {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    visibility: visible;
}

.target-groups {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}

.target-groups-show {
    display: flex;
    justify-content: space-between;
    visibility: visible;
    flex-direction: row-reverse;

}

.what-is-trp-show {
    display: flex;
    justify-content: space-between;
    opacity: 1;
}

.what-is-trp-main,
.about-us-main,
.target-groups-main,
.carousel-container {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
    width: auto;
    margin: 20px;

}


.about-us-text {
    color: black;
    width: 92%;
    text-align: justify;
    padding: 30px;
    animation: trp-text 2s both;
    animation-delay: 2s;
}


.target-groups-text {
    color: black;
    width: 120%;
    text-align: justify;
    padding: 30px;
    animation: trp-text 2s both;
    animation-delay: 2s;

}

.what-is-trp-main .header,
.about-us-main .header,
.target-groups-main .header {
    color: orange;
    text-align: center;
    padding: 10px;
    /* &:hover {
        cursor: pointer;
        border: 1px solid orange;
        background-color: orange;
        color: white;
        transform: scale(1.1);
        border-radius: 10px;


    } */

}

.trp-text {
    color: black;
    width: 50%;
    text-align: justify;
    padding: 30px;
    animation: trp-text 2s both;
    animation-delay: 2s;



}

.trp-image img {
    padding: 10px;
    animation: what-is-trp-image 2s both;

}

.trp-image-target-group img {
    padding: 10px;
    animation: trp-image 2s both;

}

.trp-image-about-us img {
    padding: 10px;
    animation: trp-image 2s both;
}

.hide-section {
    opacity: 0;

}

.slider {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
    width: auto;
    margin: 20px;
    text-align: center;
    display: none;
}

.slider-content {
    overflow-x: auto;
    white-space: nowrap;
    width: 97%;
    display: inline-block;
}

.slider-content::-webkit-scrollbar {
    scrollbar-color: #f77f00;
    width: 20px;
}

.slider-content::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 0 0 5px grey;

}

.slider-content::-webkit-scrollbar-thumb {
    background-color: #f77f00;
    /* thumb color */
    border-radius: 10px;
    /* round corners */

}

.slider-image {
    display: flex;
}

.slider-image img {
    margin-right: 10px;
}


.slider-image .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background: #f77f00;
    text-align: center;
    height: 200px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    transition: .5s;

    &:hover {
        cursor: pointer;
        transform: scale(1.06);
    }
}

.silder-header {
    text-align: center;
    color: orange;
    margin: 10px 0;
}

/* ===== Start Carousel ===== */

.carousel-container {
    padding: 20px;
}

#carouselCaptions {
    margin-bottom: 40px;
}

#carouselCaptions .carousel-inner {
    background-color: #f77f00;
}

#carouselCaptions .carousel-item {
    height: 300px;
}

#carouselCaptions .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

#carouselCaptions .carousel-control-next-icon,
#carouselCaptions .carousel-control-prev-icon {
    transform: scale(1.2);
}

#carouselCaptions .worker-name {
    margin-bottom: 8px;
}

#carouselCaptions .worker-name,
#carouselCaptions .worker-position {
    color: #FFFFFF;
}

/* ===== End Carousel ===== */

/* Start Avatar Styles */
.avatar-box {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

/* End Avatar Styles */

@keyframes hide-section {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes trp-text {
    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}


@keyframes what-is-trp-image {

    from {
        transform: translateX(250px);
        opacity: 0;
    }

    to {
        transform: translateX(190px);
        opacity: 1;
    }
}

@keyframes what-is-trp-image-mobile {

    from {
        transform: translateX(250px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes trp-image {

    from {
        transform: translateX(0px);
        opacity: 0;
    }

    to {
        transform: translateX(29px);
        opacity: 1;
    }
}

@keyframes trp-image-mobile {

    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes vision-mission-show {

    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes vision-mission-hide {

    from {
        transform: translateX(25%);
    }

    to {
        transform: translateX(0%);
    }

}

@keyframes landing-page-logo {

    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin-top: 30px;
    }

    .landing-page-logo {
        width: 125px;
        height: 125px;
    }

    .landing-page-text {
        font-size: 40px;
    }

    .about-us-show {
        flex-direction: column;
        text-align: center;
    }

    .what-is-trp-show {
        flex-direction: column;
        text-align: center;
    }

    .trp-text {
        width: auto;
    }

    .trp-image img {
        animation: what-is-trp-image-mobile 2s both;
    }

    .target-groups-show {
        flex-direction: column;
        text-align: center;
    }

    .target-groups-text {
        width: auto
    }

    .trp-image-target-group img {
        animation: trp-image-mobile 2s both;

    }

    .trp-image-about-us img {
        animation: trp-image-mobile 2s both;
    }
}

@media screen and (max-width: 991px) {
    .vision-mission {
        width: 90%;
        height: 260px;
    }
}