<footer class="py-5 mt-5 border-top">
  <div class="container-fluid">
    <div class="row text-center text-center text-md-start">
      <div class="col-12 col-md-1 mb-5 mb-md-0"></div>

      <div class="col-12 col-md-3 mb-5 mb-md-0 " style="text-align: start;">
        <h5 class="font-weight-bold" style="text-wrap: nowrap">
          {{ "FOOTER.TITLE_1" | translate }}
        </h5>
        <h5 class="font-weight-bold" style="text-wrap: nowrap">
          {{ "FOOTER.TITLE_2" | translate }}
        </h5>

        <!-- <h5 class="font-weight-bold" style="text-wrap: nowrap;">for teaching English</h5> -->
        <div class="row">
          <div class="col">
            <a
              [href]="contactInfo?.facebookUrl"
              target="_blank"
              class="media"
            >
              <li class="fa fa-facebook"></li>
            </a>
            <a
            [href]="contactInfo?.instagramUrl"
            target="_blank"
              class="media"
            >
              <li class="fa fa-instagram"></li>
            </a>
            <a
            [href]="contactInfo?.youtubeUrl"
              target="_blank"
              class="media"
            >
              <li class="fa fa-youtube"></li>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-1 mb-5 mb-md-0"></div>

      <div class="col-12 col-md-3 mb-5 mb-md-0" style="text-align: start;">
        <h5 class="font-weight-bold">{{ "FOOTER.SHORT_LINK" | translate }}</h5>
        <ul class="nav flex-column mt-4 short-link">
          <li class="nav-item m-2">
            <a
              class="nav-link p-0 fa fa-arrow-right"
              (click)="sectionHandler(AboutUs)"
            >
              <span class="text-muted"
              [ngClass]="selectedLang == 'en' ? 'pl-2' : 'pr-2'"
              >{{
                "NAVBAR.ABOUT_US" | translate
              }}</span></a
            >
          </li>
          <li class="nav-item m-2">
            <a class="nav-link p-0 fa fa-arrow-right">
              <span
                class="text-muted"
                [ngClass]="selectedLang == 'en' ? 'pl-2' : 'pr-2'"
                >{{ "NAVBAR.SERVICES" | translate }}</span
              ></a
            >
          </li>
          <li class="nav-item m-2" (click)="sectionHandler(LatestNews)">
            <a class="nav-link p-0 fa fa-arrow-right">
              <span class="text-muted"
              [ngClass]="selectedLang == 'en' ? 'pl-2' : 'pr-2'"
              >{{
                "NAVBAR.LATEST_NEWS" | translate
              }}</span></a
            >
          </li>
          <li class="nav-item m-2">
            <a
              [routerLink]="['/courses-register']"
              class="nav-link p-0 fa fa-arrow-right"
            >
              <span class="text-muted"
              [ngClass]="selectedLang == 'en' ? 'pl-2' : 'pr-2'"
              >{{
                "NAVBAR.COURSE_REGISTER" | translate
              }}</span></a
            >
          </li>
          <li class="nav-item m-2">
            <a
              [routerLink]="['/submitting-job']"
              class="nav-link p-0 fa fa-arrow-right"
            >
              <span class="text-muted"
              [ngClass]="selectedLang == 'en' ? 'pl-2' : 'pr-2'"
              >{{
                "NAVBAR.SUBMITTING_JOB" | translate
              }}</span></a
            >
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-1 mb-5 mb-md-0" *ngIf="this.selectedLang == 'en'"></div>
      <div class="col-12 col-md-3 mb-5 mb-md-0" style="text-align: start;">
        <h5 class="font-weight-bold">{{ "FOOTER.CONTACT_US" | translate }}</h5>
        <ul class="nav flex-column mt-4">
          <li class="fa fa-phone nav-item mb-2" [ngClass]="selectedLang == 'ar'? 'd-flex ' : ''">
            <a
              style="padding-left: 10px"
              [href]="'tel:' + contactInfo?.phoneNumber1"
              class="text-muted text-decoration-none px-2"
              >{{ contactInfo?.phoneNumber1 }}</a
            >
          </li>
          <hr />
          <li
          [ngClass]="selectedLang == 'ar'? 'd-flex ' : ''"
            class="fa fa-phone nav-item mb-2"
            *ngIf="contactInfo?.phoneNumber2"
          >
            <a
              style="padding-left: 10px"
              [href]="'tel:' + contactInfo?.phoneNumber2"
              class="text-muted text-decoration-none px-2"
              >{{ contactInfo?.phoneNumber2 }}</a
            >
          </li>
          <hr *ngIf="contactInfo?.phoneNumber2" />

          <li class="fa fa-envelope nav-item mb-2" [ngClass]="selectedLang == 'ar'? 'd-flex  ' : ''">
            <a
          
              style="padding-left: 10px"
              [href]="'mailto:' + contactInfo?.email"
              class="text-muted text-decoration-none px-2"
              >{{ contactInfo?.email }}
            </a>
          </li>
          <hr />
          <li class="fa fa-map-marker nav-item mb-2">
            <a
              style="padding-left: 10px"
              class="text-muted text-decoration-none "
              target="_blank"
              [href]="contactInfo?.locationUrl"
            >
              {{ 
               selectedLang == 'en' ? contactInfo?.location:  contactInfo?.locationAr
              }}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-1 mb-5 mb-md-0" *ngIf="this.selectedLang == 'ar'"></div>

  
    </div>
  </div>
</footer>
